  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
    color:#333;
}

header{
    background:#0066cc;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    background:#004a99;
    padding:10px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-size:18px;
}

nav a:hover{
    color:yellow;
}

.hero{
    text-align:center;
    padding:50px 20px;
    background:white;
}

.hero h2{
    font-size:35px;
    margin-bottom:15px;
}

.hero p{
    font-size:18px;
    margin-bottom:20px;
}

.btn{
    background:#0066cc;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:5px;
}

.btn:hover{
    background:#004a99;
}

.container{
    width:90%;
    margin:auto;
    padding:20px;
}

.box{
    background:white;
    padding:20px;
    margin:20px 0;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}
